/* You can add global styles to this file, and also import other style files */
body {
  background-color: white;

  font-family: "Roboto";
  font-size: 16px;
}

h1 {
  color: #14337f;
}

// Pallete
// 111E31
// 14337F
// 3484CC
// 8AC1E7
// D0D5E0
